{% extends "layout.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--Booking an appointment-->
  <div class="col">
    <div class="card h-100">
      <div class="image-container">
        <img src="{{ url_for('static', filename='images/appointment.jpg')}}" class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a class="text-decoration-none" href="#">Book An Appointment</a></h5>
        <p class="card-text">Three Days Money Back Guarantee!</p>
      </div>
    </div>
  </div>

  <!--Supplements-->
  <div class="col">
    <div class="card h-100">
      <div class="image-container">
        <img src="{{ url_for('static', filename='images/supplement.jpg')}}" class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a class="text-decoration-none" href="#">Buy Supplements</a></h5>
        <p class="card-text">Become a lion!</p>
      </div>
    </div>
  </div>

  <!--Online Checkup-->
  <div class="col">
    <div class="card h-100">
      <div class="image-container">
        <img src="{{ url_for('static', filename='images/online_checkup.jpg')}}" class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a class="text-decoration-none" href="#">Online Checkup</a></h5>
        <p class="card-text">Too much traffic? No problem!</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}